<h2>Authenticate key</h2>
<p>Please insert one of your registered keys</p>
<p id="waiting">Waiting...</p>
<p id="error" class="d-none"></p>
<%= form_tag send("#{resource_name}_web_authn_authentication_path"), method: 'post' do %>
  <%= hidden_field_tag :credential %>
<% end %>
<%= javascript_tag nonce: true do -%>
  function bufferDecode(baseurl64String) {
    // Base64url to Base64
    const padding = "==".slice(0, (4 - (baseurl64String.length % 4)) % 4);
    const base64String =
      baseurl64String.replace(/-/g, "+").replace(/_/g, "/") + padding;

    // Base64 to binary string
    const str = atob(base64String);

    // Binary string to buffer
    const buffer = new ArrayBuffer(str.length);
    const byteView = new Uint8Array(buffer);
    for (let i = 0; i < str.length; i++) {
      byteView[i] = str.charCodeAt(i);
    }
    return buffer;
  }

  function bufferEncode(buffer) {
    // Buffer to binary string
    const byteView = new Uint8Array(buffer);
    let str = "";
    for (const charCode of byteView) {
      str += String.fromCharCode(charCode);
    }

    // Binary string to base64
    const base64String = btoa(str);

    // Base64 to base64url
    // We assume that the base64url string is well-formed.
    const base64urlString = base64String
      .replace(/\+/g, "-")
      .replace(/\//g, "_")
      .replace(/=/g, "");
    return base64urlString;
  }

  const publicKeyOptions = <%= @options.to_json.html_safe %>;

  publicKeyOptions.challenge = bufferDecode(publicKeyOptions.challenge);
  publicKeyOptions.allowCredentials.forEach((c) => {
    c.id = bufferDecode(c.id)
  })

  navigator.credentials.get({
    publicKey: publicKeyOptions
  }).then((publicKeyCredential) => {
    let authData = publicKeyCredential.response.authenticatorData;
    let clientDataJSON = publicKeyCredential.response.clientDataJSON;
    let rawId = publicKeyCredential.rawId;
    let signature = publicKeyCredential.response.signature;
    let userHandle = publicKeyCredential.response.userHandle;

    const json = JSON.stringify({
      id: publicKeyCredential.id,
      rawId: bufferEncode(rawId),
      type: publicKeyCredential.type,
      response: {
        authenticatorData: bufferEncode(authData),
        clientDataJSON: bufferEncode(clientDataJSON),
        signature: bufferEncode(signature),
        userHandle: bufferEncode(userHandle),
      },
    })

    form = document.forms[0];
    credential = document.querySelector('[name=credential]');
    credential.value = json

    form.submit();
  })


<% end -%>
