<h2>Register key</h2>
<p>Please insert the key</p>
<p id="waiting">Waiting...</p>
<p id="error" class="d-none"></p>

<%= form_tag send("#{resource_name}_web_authn_registration_path"), method: 'post' do %>
  <%= hidden_field_tag :credential %>
<% end %>

<%= javascript_tag nonce: true do -%>
  function bufferDecode(baseurl64String) {
    // Base64url to Base64
    const padding = "==".slice(0, (4 - (baseurl64String.length % 4)) % 4);
    const base64String =
      baseurl64String.replace(/-/g, "+").replace(/_/g, "/") + padding;

    // Base64 to binary string
    const str = atob(base64String);

    // Binary string to buffer
    const buffer = new ArrayBuffer(str.length);
    const byteView = new Uint8Array(buffer);
    for (let i = 0; i < str.length; i++) {
      byteView[i] = str.charCodeAt(i);
    }
    return buffer;
  }

  function bufferEncode(buffer) {
    // Buffer to binary string
    const byteView = new Uint8Array(buffer);
    let str = "";
    for (const charCode of byteView) {
      str += String.fromCharCode(charCode);
    }

    // Binary string to base64
    const base64String = btoa(str);

    // Base64 to base64url
    // We assume that the base64url string is well-formed.
    const base64urlString = base64String
      .replace(/\+/g, "-")
      .replace(/\//g, "_")
      .replace(/=/g, "");
    return base64urlString;
  }

  const publicKeyOptions = <%= @options.to_json.html_safe %>;

  publicKeyOptions.challenge = bufferDecode(publicKeyOptions.challenge);
  publicKeyOptions.user.id = bufferDecode(publicKeyOptions.user.id);

  navigator.credentials.create({
    publicKey: publicKeyOptions
  }).then((publicKeyCredential) => {

    let attestationObject = publicKeyCredential.response.attestationObject;
    let clientDataJSON = publicKeyCredential.response.clientDataJSON;
    let rawId = publicKeyCredential.rawId;

    const json = JSON.stringify({
      id: publicKeyCredential.id,
      rawId: bufferEncode(rawId),
      type: publicKeyCredential.type,
      response: {
        attestationObject: bufferEncode(attestationObject),
        clientDataJSON: bufferEncode(clientDataJSON),
      },
    })

    form = document.forms[0];
    credential = document.querySelector('[name=credential]');
    credential.value = json

    form.submit();
  })
<% end -%>
